{%extends "master.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
{% block baslik %} Sepet {% endblock %}

{% block govde %}

    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
            <div class="d-flex align-items-center">
                <a href="yeniurun2" class="me-2"><button class="btn btn-warning">Ekle</button></a>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Sırala
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">İsme Göre Sırala</a></li>
                        <li><a class="dropdown-item" href="#">Fiyata Göre Sırala</a></li>
                    </ul>
                </div>
            </div>

        <div class="input-group mb-3 mt-3">
          <input type="text" class="form-control" placeholder="Sepette Ürün Ara" aria-label="Sepette Ürün Ara" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ara</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Ürün Adı-Ürün No</th>
            <th>İnceleme</th>
          </tr>
        </thead>
        <tbody>
          {% for urun in urunlistesi2 %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ urun.urun}}</td>
            <td>{{ urun.inceleme }}</td>
            <td>
              <a href="detay2/{{ urun.id }}">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" width="25px">Detay</button>
              </a>
            </td>
            <td>
              <a href="duzenle2/{{ urun.id }}">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" width="25px">Düzenle</button>
              </a>
            </td>
            <td>
              <form class="row g-3 pt-4" method="post" action="../urunler/uruninceleme" >
                  {% csrf_token %}
                  <td> <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#silModal{{urun.id}}" width="25px">Sil</button></td>
                  <input class="d-none" name="sil" value="{{urun.id}}">
                  <!-- Modal -->
                  <div class="modal fade" id="silModal{{urun.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Emin misiniz?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {{urun.urun}} {{urun.inceleme}} kaydını silmek istiyor musunuz?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                          <button type="submit" class="btn btn-primary">Evet</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}